@media all and (max-width:1399px) and (min-width:800px){
/* 헤더영역(100%크기) */
.main_header {
    width: 100%;
    height: 65px;
    position: relative;
}
.logo {
    width: 100px;
    height: 100%;
    font-family: 'STIX Two Text', serif;
    font-weight: 500;
    float: left;
    font-size: 25px;
    margin: 20px;
}
.ham_but{
    width: 30px;
    height: 20px;
    float: right;
    margin: 20px;
}
.main_menu {
    width: 200px;
    /* height: 300px; */
    display: none;
    background-color: white;
    position: absolute;
    top: 65px;
    right: 0;
    z-index: 2;
}
.main_menu a {
    display: block;
    width: 100%;
    height: 100px;
    font-size: 16px;
    font-family: "Noto Sans KR", sans-serif;
    padding: 20px;
    box-sizing: border-box;
    /* color: white; */
}

/* 가운데 섹션 (높이는 제이쿼리에서) */
.sec {
    width: 100%;
    position: relative;
    overflow: hidden;
}
.move_box {
    width: 15360px;
    height: 220px;
    position: absolute;
    display: flex;
    top: 0;
    margin-top: -35px;
    left: 0;
    justify-content: left;
    transition: 0.5s;
}
.move_text {
    font-weight: 600;
    width: 3840px;
    height: 220px;
    font-size: 7rem;
    transition: 0.5s;
}
.move_text span {
    font-size: 7.5rem;
    font-weight: 100;
    font-family: 'STIX Two Text', serif;
    font-style: italic;
    font-weight: 400;
}
.stop_text{
    width: 600px;
    height: 120px;
    font-size: 7.5rem;
    font-weight: 100;
    font-family: 'STIX Two Text', serif;
    font-style: italic;
    font-weight: 400;
    position: absolute;
    top: 0;
    left: 50%;
    margin-top: -30px;
    margin-left: -350px;
    display: none;
    color: white;
    z-index: 3;
    transition: 0.5s;
}
.goods_box {
    width: 700px;
    height: 280px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -60px;
    margin-left: -365px;
    /* background-color: black; */
    display: flex;
    justify-content: space-between;
    transition: 0.5s;
}
.goods {
    width: 220px;
    height: 100%;
    position: relative;
    /* background-color: aliceblue; */
    transition: 0.5s;
}
.goods img{
    object-fit: contain;
    object-position: bottom;
    transition: 0.5s;
}
.goods:nth-child(2) {
    margin: 0 10px;
}

/* 푸터 영역 가로 100% */
footer {
    width: 100%;
    height: 50px;
}
.foot_con {
    float: left;
    width: 250px;
    height: 100%;
    margin-right: 10px;
    font-size: 14px;
    font-family: "Noto Sans KR", sans-serif;
    padding: 10px;
    box-sizing: border-box;
    transition: 0.5s;
}
.foot_con:nth-child(2),
.foot_con:nth-child(3) {
    width: calc((100% - 650px)/2);
    height: 100%;
}
.link_box {
    float: right;
    width: 350px;
    height: 100%;
    font-size: 14px;
    text-align: right;
    font-family: "Noto Sans KR", sans-serif;
    padding: 10px;
    box-sizing: border-box;
}
.link_box span {
    font-family: 'STIX Two Text', serif;
    font-weight: 900;
}

.goods_img {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
.back_img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.back_video{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

/* 마우스 포인터 변경 */
.goods:hover {
    cursor: url(../img/hover_icon.cur), auto;
}

}

