@media all and (max-width:799px){



/* 헤더영역(100%크기) */
.main_header {
    width: 100%;
    height: 65px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    
}
.logo {
    width: 100px;
    height: 100%;
    /* font-family: "Nanum Myeongjo", serif; */
    font-family: 'STIX Two Text', serif;
    font-weight: 500;
    float: left;
    font-size: 25px;
    margin: 20px;
    
}
.ham_but{
    width: 30px;
    height: 20px;
    float: right;
    margin: 20px;
    filter: invert(100%);
}
.main_menu {
    width: 200px;
    height: 100vh;
    display: none;
    /* background-color: white; */
    position: absolute;
    top: 65px;
    right: 0;
    z-index: 2;
}
.main_menu a {
    display: block;
    width: 100%;
    height: 100px;
    font-size: 16px;
    font-family: "Noto Sans KR", sans-serif;
    padding: 20px;
    box-sizing: border-box;
    /* color: white; */
}
.main_header a{
    color: #fff;
}
/* -------------------- 메뉴끝 */


.mask_wrap{
    /* background-color: aqua; */
    position: fixed;
}

.page_wrap{
    position: relative;
    /* border: 1px solid black;
    box-sizing: border-box; */
}
.title_page{
    background-color: #000000;
}
.left_title{
    width: 28.6vw;
    height: 9.6vw;
    position: absolute;
    top: 50%;
    margin-top: -12vw;
    left: 4%;
    /* font-family: "Bodoni Moda", serif; */
    font-family: 'STIX Two Text', serif;
    font-weight: 500;
    font-size: 35px;
    /* background-color: aqua; */
    color:  #fff;
    line-height: 50px;
}
.left_title span{
    font-size: 60px;
    font-family: "Noto Sans KR", sans-serif;
}
.bottom_box{
    width: 95%;
    height: 35%;
    border-top: 1px solid #fff;
    box-sizing: border-box;
    position: absolute;
    bottom: 50px;
    left: 2.5%;
}
.r_box{
    width: 15vw;
    height: 3vw;
    font-size: 10px;
    font-weight: 100;
    text-align: center;
    line-height: 3vw;
    border: 0.5px solid #fff;
    box-sizing: border-box;
    border-radius: 30px;
    float: left;
    margin-left: 30px;
    margin-top: 30px;
}
.r_box a{
    color: #fff;
}
.gif_box{
    width: 33.0vw;
    height: 42.2vw;
    position: absolute;
    right: 10.41vw;
    top: 50%;
    margin-top: -10vw;
}
/* ----------------------------------타이틀끝 */

.left_con{
    width: 90%;
    height: 70%;
    /* box-sizing: border-box;
    border-top: 1px solid #333; */
    position: absolute;
    left:50%;
    top: 50%;
    margin-left: -45%;
    margin-top: -25%;
    /* display: none; */
    /* background-color: aquamarine; */
}
.left_con_1{
    margin-top: -50%;
}

.con_box{
    width: 60%;
    height: 100%;
    float: left;
    
}
.img_box{
    width: 35%;
    height: 55%;
    /* margin-top: 100px; */
    float: right;
    margin-top: 15%;
    /* background-color: bisque; */
}
h4{
    /* font-family: "Bodoni Moda", serif; */
    font-family: 'STIX Two Text', serif;
    font-size: 30px;
    font-weight: 300;
}
.left_con h4{
    margin: 70px 20px;
}
p{
    font-size: 10px;
    line-height: 25px;
}
.left_con p{
    margin: 0 20px;

}

.but_box{
    width: 31vw;
    height: 4.6vw;
    box-sizing: border-box;
    border: 1px solid #333;
    line-height: 4.6vw;
    text-align: center;
    font-size: 8px;
    margin: 50px 20px;
    display: block;
}

.left_con_2{
    width: 90%;
    height: 40%;
    position: absolute;
    bottom: 50px;
    right: 5%;
    box-sizing: border-box;
    border-top: 1px solid #333;
  
}
.left_con_3{
    bottom: 450px;
    border-top: 0px;
}

.con_box_2{
    width: 60%;
    height: 100%;
    float: left;
    /* background-color: aquamarine; */

} 
.left_con_2 .img_box{
    width: 35%;
    height: 100%;
    margin-top: 0%;
    float: right;
    /* background-color: rgb(117, 70, 13); */

}
.left_con_2 img{
    object-fit: contain;
}

.left_con_2 h4{
    margin: 50px 20px;
}
.left_con_2 p{
    margin: 20px 20px;
}
.left_con_4{
    height: 500px;
    margin-top: -350px;
}



.on{
    /* display: none; */
}





/* -------------------푸터 */
.footer_wrap{
    position: relative;
}
footer{
    width: 95%;
    height: 250px;
    position: absolute;
    left: 2.5%;
    bottom: 50px;

    /* background-color: rgb(72, 155, 155); */
}

.f_title_box{
    width: 100%;
    height: 16vw;
    box-sizing: border-box;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    line-height: 16vw;
    font-size: 30px;
    margin-top: 50px;
}
.f_title_box a{
    font-weight: 400;
}
.f_title_box span{
    /* font-family: "Bodoni Moda", serif; */
    font-family: 'STIX Two Text', serif;
    font-weight: 300;
    font-style: italic;
}
.f_title_box img{
    width: 30px;
    height: 30px;
    animation-name: move_arrow;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}


@keyframes move_arrow{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateY(-5px) translateX(3px);
    }
}



.f_box{
    width: 27vw;
    height: 70px;
    position: absolute;
    bottom: 0;
    font-size: 8px;
    line-height: 20px;
    
}
.f_box2{
    width: 15vw;
    height: 70px;
    left:28vw;
    /* background-color: rgb(11, 17, 97); */
}
.f_box3{
    width: 18vw;
    height: 70px;
    left: 45vw;
    /* background-color: rgb(223, 136, 6); */
}
.f_box4{
    width:30vw;
    right: 0;
    text-align: right;
    /* background-color: aquamarine; */
}
.f_box4 a{
    display: block;
    float: right;
    height: 4vw;
    width: 30vw;
    line-height: 30px;
    font-size: 14px;
    font-family: 'STIX Two Text', serif;
    /* background-color: brown; */

}

.icon img{
    width: 30px;
    height: 30px;
}












    /* 지우지마쇼 */
}
