@media all and (min-width:1440px){

    /* 영역확인용 구획 */
body{
    width: 100%;


}
/* 메인페이지 시작 */
.mo_menu{
    display: none;
}
header{
    width: 100%;
    height: 150px;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    z-index: 3;
}
.main_logo{
    width:  350px;
    height: 75px;
    margin: 0 auto;
    /* background-color: white; */

}
.nav_menu{
    width: 60%;
    height: 20px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 25px;
    color: white;
    cursor: pointer;
}
/* .top_menu:first-child{
    margin-left: 3vw;
} */
.top_menu:last-child{
    margin-right: 2vw;
}
.top_menu{
    margin-right: 5vw;
    text-align: center;
    flex: 1;
    transition-duration: 0.5s;
}
.top_menu:hover{
    /* background-color: yellow; */
    flex: 2;
    color: black;
    font-weight: 900;
    background-color: rgb(230, 159, 18);
}
.top_menu:hover .sub_menu{
    display: block;
    font-weight: 450;  
}
/* 추가되는 부분 시작 */
.sub_menu>li:hover{
    background-color:  rgb(230, 159, 18);

}
.sub_menu a:hover{
    background-color:  rgb(230, 159, 18);
    font-weight: 900;
}
.top_menu:hover .sub_menu{
    background-color: rgba(0, 0, 0, 0.6);
}
.sub_menu{
    width: 100%;
    display: none;
}
.sub_menu>li{
    width: 100%;
    height: 20px;
    text-align: center;
    color: white;
    transition-duration: 0.2s;
}
.sub_menu>li a{
    width: 100%;
    height: 20px;
    text-align: center;
    color: white;
    transition-duration: 0.2s;
}
/* 추가되는 부분 끝  */
.ban_wrap{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
    overflow:hidden;
}
.ban_move_box{
    width: 200%;
    position:absolute;
    top: 0;
    left:0;
    display: flex;
    height: 100%;

}
/* 추가되는 부분 시작 */
.ban_but_box1,.ban_but_box2{
    width: 20px;
    height: 20px;
    border-radius: 25px;
    position: absolute;
    z-index: 3;
    background-color:rgba(0, 0, 0, 0);
    border: 2px solid white;
    box-sizing: border-box;
    cursor: pointer;

}
.ban_but_box1{
    bottom:8%;
    left: 48.5%;
}
.ban_but_box2{
    bottom: 8%;
    left: 51.5%;
}
#ban_but1:checked~.ban_move_box{
    left: 0;
}
#ban_but2:checked~.ban_move_box{
    left: -100%;
}

#ban_but1:checked~.ban_but_box1{
    background-color: white;
    border: 0px;
    transition-duration: 0.5s;
}
#ban_but2:checked~.ban_but_box2{
    background-color: white;
    border: 0px;
    transition-duration: 0.5s;
}


/* 추가되는 부분 끝 */
.ban_vid{
    width: 100%;
    height: 100%;
    /* background-color: blue; */
}
.ban_img{
    width: 100%;
    height: 100%;
    /* background-color: aqua; */
    background-image: url(../media/img/main_img_1.png);
    background-size: cover;
    background-repeat: no-repeat;
}
/* .ban_wrap:hover .ban_move_box{
    left: -100%;
} */

@keyframes move_box{
    from{
        transform: translateX(0%); 
    }
    to{
        transform: translateX(-50%);
    }
}

/* 메인페이지 끝 */


/* 카테고리 영역 */
.cate_wrap{
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    margin-top: calc(100vh - 150px);
    position: relative;
    z-index: 1;
}
.cate_logo{
    width: 100%;
    height: 200px;
    /* background-color: aqua; */
    background-image: url(../media/img/Black_logo.png);
    background-repeat: no-repeat;
    background-position: 100px;
    cursor: pointer;
}
.cate_box{
    width: 77%;
    height: 36.5vw;
    /* background-color: blue; */
    display: flex;
    justify-content:   space-between;
    flex-flow: row wrap;
    margin: 0 auto;
    margin-top: 40px;
    transition-duration: 1s;
    cursor: pointer;
}

.cate_img{
    width: 18%;
    height: 100%;
    background-color:black;
    transition-duration: 0.5s;
    font-weight: 700;
    position: relative;
    overflow: hidden;
    display: block;
    
}
.cate_img img{
    position: absolute;
    object-fit: cover;
    display: block;
    top: 0;
    left: 0;
    transition-duration: 0.5s;
}


.cate_img p{
    width: 150px;
    height: 30px;
    color: rgba(255, 255, 255,0);
    transition-duration: 0.5s;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -75px;
    margin-top: -15px;
    font-size: 20px;
    text-align: center;
}



.cate_img:hover p{color: rgba(255, 255, 255,1);}

.cate_img:hover img{
    opacity: 0.7;
    transform: scale(1.2);
}

.cate_wrap:hover>.cate_box .img2{
    margin-top: 30px;
}
.cate_wrap:hover>.cate_box .img4{
    margin-top: 30px;
}
.cate_wrap:hover>.cate_box .img1{margin-top: -30px;}
.cate_wrap:hover>.cate_box .img3{margin-top: -30px;}
.cate_wrap:hover>.cate_box .img5{margin-top: -30px;}

.cate_img  .ci2{display: none;}


/* 제품페이지 영역 */

.product_wrap{
    width: 100%;
    height: 60vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    position: relative;
    z-index: 2;
}

.product_title{
    width: 100%;
    height: 100px;
    text-align: center;
    cursor: pointer;
    margin-top: 50px;
}

.product_text_1{font-weight: 700;}
.product_text_2{font-size: 35px; font-weight: 700;}


.left_but,.right_but{
    width: 5%;
    height: 485px;
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    position: absolute;
    top: 50px;
    transition-duration: 0.5s;
    cursor: pointer;
}

.left_but{
    background-image: url(../media/img/left\ arrow.png);
    left: 5%;
}
.right_but{
    background-image: url(../media/img/Right\ arrow.png);
    right: 5%;
}

.product_box{
    width: 74%;
    height: 800px;
    /* background-color: rgb(156, 0, 109); */
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -37%;
    margin-top: 150px;
    overflow: hidden;

}
.product_move_box{
    width: 200%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    transition-duration: 1s;
    /* margin-left: -25%; */
    position: relative;
    left: -25%;
    
}
.product_move_box .product_img{
    width: 25%;
    height:18vw;
    /* background-color: aquamarine; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition-duration: 0.5s;
}
#l_but:checked~.product_box .product_move_box{margin-left: -25%;}
#r_but:checked~.product_box .product_move_box{margin-left:0px;}
.product_img1{background-image:url(../media/img/Gloves1.png);}
.product_img2{background-image:url(../media/img/Tent1.png);}
.product_img3{background-image:url(../media/img/chair1.png);}
.product_img4{background-image:url(../media/img/can1.png);}
.product_img5{background-image:url(../media/img/shoes1.jpg);}
.product_img6{background-image:url(../media/img/bag1.jpg);}


.product_img1:hover{background-image:url(../media/img/gloves_img_2.jpg);}
.product_img2:hover{background-image:url(../media/img/tent_img_2.jpg);}
.product_img3:hover{background-image:url(../media/img/chair_img_2.jpg);}
.product_img4:hover{background-image:url(../media/img/can2.jpg);}
.product_img5:hover{background-image:url(../media/img/shoes2.jpg);}
.product_img6:hover{background-image:url(../media/img/bag2.jpg);}

.left_but:hover{background-size: 70%;}
.right_but:hover{background-size: 70%;}
input{
    display: none;
}


.none_box{
    width: 100%;
    height: 550px;
    /* background-color: white; */
    position: relative;
    top: 0;
}
.video_box{
    position: fixed;
    bottom: 0;
    left: 0px;
    /* background-attachment: fixed; */
    z-index: -5;
    /* overflow: hidden; */
    /* position:relative; */
    /* background-position: center center; */
    width: 100%;
    height: 1080px;
    /* background: url(./media/video/video.mp4);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; */
}




/* sns페이지 시작 */
.sns_wrap{
    width: 100%;
    height: 55vw;
    background-color: rgb(230, 159, 18);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    z-index: 2;
    position: relative;
    /* top: -500px; */
}
.sns_box{
    width: 100%;
    height: 25%;
    background-image: url(../media/img/Cooperation.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.sns_left_box{
    width: 30.5%;
    height: 65%;
    margin-right: 30px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    transition-duration: 0.5s;
    /* float: left; */
    /* position: relative;
    top:11%;
    left:6%; */
    /* display: block; */
}
.sns_img_box{
    width: 48.7%;
    height: 54%;
    transition-duration: 0.5s;
    display: block;
}

.sns_video{
    width: 100%;
    height: 44%;
    margin-top: 2%;
    position: relative;
}

.sns_right_box{
    display: block;
    width: 55%;
    height: 65%;
    background-image: url(../media/img/coll_back.png);
    background-repeat: no-repeat;
    transition-duration: 0.5s;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    /* float: right; */
    /* position: relative;
    top: 11%;
    right: 6%; */
}
.sns_wrap:hover>.sns_right_box{background-image: url(../media/img/sns_colla.png);}
.sns_img_box:hover{filter: brightness(0.6);}

/* sns페이지 끝 */



/* footer */
.footer_wrap{
    width: 100%;
    height: 250px;
    background-color: #333;
    text-align: center;
    position: relative;
    top: 0;
    left: 0;
}
.footer_box{
    width: 100%;
    height:180px;
    text-align: center;
    position: absolute;
    left: 0;
    top: 10px;
}
.f_logo{
    width: 100%;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
}
.f_img{
    width: 150px;
    height: 100%;
    position: absolute;
    top: 30px;
    left: 150px;
}
span{
    color: rgb(155, 155, 155);
    line-height: 100px;
    margin: 30px;
    font-weight: 800;
    cursor: pointer;
    
}
p{
    color: rgb(128, 128, 128);
    font-size: 13px;
}
.f_icon{
    width: 50px;
    height: 50px;
    position: absolute;
    right: 15%;
    top: 3vw;
}





}