@media all and (max-width:1439px) and (min-width:1025px){


/* -------------------------------------- */
header{
    width: 100%;
    height: 100px;
    background-color: rgb(255, 255, 255);
    padding: 20px 50px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    /* display: flex;
    justify-content: space-between; */
}
.main_logo{
    width: 250px;
    height: 50px;
    /* background-color: wheat; */
    margin: auto 0;

}
.main_logo a{
    display: block;
    width: 100%;
    /* height: 100%; */
}
/* --로고 */
.main_menu_wrap{
    display: none;
}


#google_translate_element{
    width: 10%;   
    align-items: center;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    right: 150px;
}
#google_translate_element img{
    width: 20%;
}

.f_but{
    width: 30px;
    height: 100%;
    overflow: hidden;
    z-index: 99999;
    cursor: pointer;
    padding: 20px 0;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    right: 50px;
}
.f_but div{
    width: 100%;
    height: 3px;
    background-color:#1f4074;
}
.f_but div:nth-child(2){
    margin:5px 0;

}


.main_banner{
    width: 100%;
    height: 22vw;
    background-color: #f2f5ff;
    margin-top: 110px;
    margin-bottom:5vw;
    border-top: 0.5px solid #4c80d3;
    box-sizing: border-box;
}
.main_banner img{
    width: 100%;
    object-fit: contain;
}


.fastival_wrap{
    width: 2200px;
    height: 22vw;
    /* background-color: yellow; */
    position: relative;
    left: 50%;
    margin-left: -1100px;
}
.fastival_title{
    position: relative;
    z-index: 999;
    top:-20px;
}
.fastival_wrap p{
    color: #505050;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
}
.fastival_wrap .swiper {
    width: 100%;
    height: 100%;
    overflow:visible;

    }

.fastival_wrap .swiper-slide {
    width: 800px;
    height: 90%;
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    overflow: hidden;
    margin-top: 30px;

    }
.fastival_wrap .swiper-pagination{
    position: absolute;
    top:400px;
}
.fastival_wrap .swiper-slide a{
    width: 100%;
    background:linear-gradient(to bottom right,#1ab8d9,#ffe587);
    border-radius: 30px;
    overflow: hidden;
}
.fastival_wrap .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
    overflow: hidden;
    transition-duration: 0.5s;
    }
.fastival_wrap .swiper-slide a:hover img{
    scale: 1.1;
    filter: brightness(0.7);
}
.fastival_wrap .swiper {
    width: 100%;
    height: 400px;
    margin: 0 auto;
    }
.fastival_wrap .but{
    width: 60px;
    height: 60px;
    background-color: #fff;
    border-radius: 50px;
    color: #4c80d3;
    box-shadow: 1px 1px 10px #505050;
    scale: 0.8;
    opacity: 0.9;
}
.fastival_wrap .left_but{
    position: absolute;
    left: 50%;
    margin-left: 290px;
}
.fastival_wrap .right_but{
    position: absolute;
    left: 50%;
    margin-left: -350px;
}

/* main_page 종료-------------------------------------- */



.proposal_wrap{
    width: 100%;
    height: 60%;
    /* background-color: violet; */

}
.title{
    width: 100%;
    height: 20%;
    color: #1f4074;
    text-align: center;
    font-weight: 600;
    font-size: 40px;
    /* background-color: aqua; */
}
.proposal_wrap p{
    color: #505050;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
}
.proposal_slide{
    width: 900px;
    height: 80%;
    /* background-color: wheat; */
    position: relative;
    left: 50%;
    margin-left: -450px;
    display: flex;
    justify-content: space-between;
}
.proposal_slide .swiper {
    width: 100%;
    height: 80vw;
    }

.proposal_slide .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(to bottom right,#1ab8d9,#ffe587);
    border-radius: 20px;
    /* padding: 10px; */
    box-sizing: border-box;
    overflow: hidden;
    }
.proposal_slide .swiper-slide a{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    transition-duration: 0.5s;
    overflow: hidden;
    position: relative;
    /* scale: 0.9; */
}
.proposal_slide .swiper-slide a:first-child{
    /* animation: 2.5s img_size infinite alternate-reverse ; */
    /* animation: infinite linear; */
}
@keyframes img_size {
    0%{
        scale: 1
    }
    100%{
        scale: 0.95
    }
}

.proposal_slide .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    }

.proposal_slide .pro_con_box{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color:rgba(3,3,3, 0.7);
    color:#fff;
    padding: 10px;
    box-sizing: border-box;
    opacity: 0;
    transition-duration: 0.5s;
}
.proposal_slide  .pro_con_title{
    width: 100%;
    height: 100px;
    position: absolute;
    top: 50%;
    margin-top: -2.6vw;
    left: 0;
    color:#000000;
    font-size: 30px;
    font-weight: 600;
    line-height: 100px;
    /* background-color: #505050; */
}
.pro_con_box h3{
    width: 100%;
    height: 50px;
    text-align: center;
    /* background-color: #011c46; */
    font-size: 24px;
    position: absolute;
    top: 30%;
    left: 0;
    line-height: 50px;

}
.pro_con_box p{
    font-size: 16px;
    color:#fff;
    line-height: 30px;
    position: absolute;
    top: 50%;
}

.proposal_slide .swiper {
    width: 100%;
    height: 400px;
    margin: 20px auto;
    }



.proposal_slide .but{
    position: absolute;
    top: 50%;
    margin-top: -25px;
    width: 50px;
    height: 50px;
    
}
.proposal_slide .left_but{
    left: 50%;
    margin-left: -500px;
}
.proposal_slide .right_but{
    left: 50%;
    margin-left: 455px;
}
.proposal_slide .swiper-slide:hover a{
    scale: 0.9 0.95;
}
.proposal_slide .swiper-slide:hover .pro_con_box {
    opacity: 1;
}





.bus_tour{
    width: 100%;
    height: 250px;
    margin-top: 100px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 5px rgb(192, 192, 192);
    position: relative;
}
.bus_con{
    position: absolute;
    top: 0;
    right: 0;
    width: 70%;
    height: 100%;
    /* background-color: #1ab8d9; */
    text-align: center;
    color: #333;
}
.bus_con h2{
    font-size: 45px;
    font-weight: 500;
    position: absolute;
    right: 6vw;
    top: 60px;
}
.bus_con p{
    position: absolute;
    left: 30px;
    top: 30px;
    font-size: 24px;
    display: none;
}
.bus_con a{
    display: block;
    width: 180px;
    height: 40px;
    border-radius: 50px;
    border: 0.5px solid #333;
    line-height: 40px;
    position: absolute;
    right:6vw;;
    bottom: 50px;
    z-index: 9999;
    font-weight: 600;
}
.bus_con a:hover{
    border: 3px solid #333;
}
/* 추천 ,버스 페이지 종료-------------------------------------- */

.theme_wrap{
    width: 100%;
    height: 30%;
    margin: 200px 0;
    /* position: absolute;
    top: 150px; */
    /* background-color: #1f4074; */
    display: flex;
    justify-content: space-between;
}
.theme_left_box{
    width: 50%;
    height: 100%;
    /* background-color: yellow; */
    box-sizing: border-box;
}
.theme_left_box>.title{
    text-align: left;

}
.theme_left_box h4{
    font-size: 45px;
}
.search_wrap{
    width: 80%;
    height: 50px;
    margin-top: 50px;
    position: relative;
    border-bottom: 2px solid #333;
    /* background-color: #1ab8d9; */
}
.theme_search{
    width: 100%;
    height: 30px;
    border:none;
    box-sizing: border-box;
    padding-left:20px ;
    position: absolute;
    top: 10px;
    left: 0;
    font-size: 18px;
}
.theme_search:focus{
    outline: none;
}
.s_icon{
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;
}




.theme_right_box{
    width: 50%;
    height: 100%;
    /* background-color: yellow; */
    position: relative;
}
.theme_box{
    text-align: center;
    border-radius: 50px 50px 0 50px ;
    box-shadow: 10px 10px 40px rgb(185, 185, 185);
    position: absolute;
    transition-duration: 0.5s;

}
.theme_box a{
    display: block;
    font-weight: 500;
    font-size: 20px;
}
/* .theme_box:hover {
    scale: 1.2;
}
.theme_box:hover a{
    font-weight: 800;
} */
.theme_box1{
    width: 220px;
    height: 60px;
    line-height: 60px;
    left: 1.56vw;
    top: 0;
    background-color: #a5b6f7;
}
.theme_box2{
    width: 190px;
    height: 50px;
    line-height: 50px;
    left:5vw;
    top: 70px;
    background-color: #fff;
}
.theme_box3{
    width: 120px;
    height: 40px;
    line-height: 40px;
    right: -2vw;
    top: 40px;
    background-color: #ffc037;

}
.theme_box4{
    width: 230px;
    height: 70px;
    line-height: 70px;
    top: 140px;
    left: 0;
    background-color: #ffc037;

}
.theme_box5{
    width: 190px;
    height: 55px;
    line-height: 55px;
    left: 70%;
    top: 120px;
    background-color: #9bc56c;
}
.theme_box6{
    width: 140px;
    height: 50px;
    line-height: 50px;
    left:10vw;
    bottom: 0;
    background-color: #a5b6f7;
}
.theme_box7{
    width: 150px;
    height: 50px;
    line-height: 50px;
    right:-4vw;
    bottom: 30px;
    background-color: #fff;
}





.wellness_wrap{
    width: 100%;
    height: 25%;
    /* background-color: blueviolet; */
    /* position: relative;
    left: 0;
    bottom: 100px; */
    display: flex;
}
.wellness_img_box{
    width: 60%;
    height: 100%;
    position: relative;
    overflow: hidden;

}
.wellness_img_box img{
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    transition-duration: 0.5s;
}
.wellness_img_box:hover img{
    scale: 1.1;
}
.wellness_tilte{
    width: 40%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    background: url(../img/well_bg_1.png) no-repeat;
    background-size: 100% 100%;
    padding: 3.64vw 2.5vw;
    box-sizing: border-box;
}

.wellness_tilte h2{
    height: 50px;
    font-weight: 500;
    line-height: 50px;
    font-size: 30px;
    text-align: center;
    position: absolute;
    top: 70px;
    /* background-color: #ffcccc; */
}
.img_title{
    width: 100%;
    height: 50px;
    position: absolute;
    top:130px;
    line-height: 50px;
    font-size: 20px;
    /* background-color: rgb(212, 212, 144); */
}
.img_title a{
    width: 100%;
    position: absolute;
    top: 0;
    display: none;

}
.well_arrow_wrap{
    width:100px;
    height: 50px;
    display: flex;
    font-size: 20px;
    font-weight: 600;
    justify-content: space-between;
    position: absolute;
    bottom: 25px;
    line-height: 50px;
    right: 30px;
    /* background-color: rgb(212, 212, 144); */
    cursor: pointer;
}

/* 테마,웰니스 페이지 종료-------------------------------------- */


.sns_con_wrap{
    width: 100%;
    height: 50%;
    /* background-color: blueviolet; */
}
.sns_con_wrap .title{
    line-height:120px;
}
.sns_con_wrap p{
    color: #505050;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
}
.sns_slide{
    width: 100%;
    height: 60%;
    margin-top: 40px;
    /* background-color: #1f4074; */
}

.sns_slide .swiper {
    width: 100%;
    height: 100%;
    position: relative;
    }

.sns_slide .swiper-slide {
    width: 800px;
    height: 100%;
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(to bottom right,#1ab8d9,#ffe587);
    border-radius: 20px;
    overflow: hidden; 
    }
.sns_slide .swiper-pagination{
    margin-top: -50px;
}
.sns_slide .swiper-slide a{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    transition-duration: 0.5s;
    overflow: hidden;
    position: relative;
}
.sns_slide .swiper-slide:hover a{
    scale: 0.93;
}
.sns_slide .swiper-slide:hover .sns_con_box{
    opacity: 1;
}
.sns_slide .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    }

.sns_slide .sns_con_box{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color:rgba(3,3,3, 0.9);
    color:#fff;
    padding: 20px;
    box-sizing: border-box;
    opacity: 0;
    transition-duration: 0.5s;
    text-overflow: ellipsis;
    
}
.sns_con_box p{
    margin-top: 50px;
    color:#fff;
    width: 100%;
    max-height:80px;  
    overflow:hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-all;
}
.icon_box{
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    margin-top: 50px;
}
.sns_slide .swiper {
    width: 100%;
    height: 100%;
    margin: 0 auto;

    }
.sns_slide .but{
    width: 70px;
    height: 70px;
    background-color: #fff;
    border-radius: 50px;
    color: #4c80d3;
    box-shadow: 1px 1px 10px #505050;
    scale: 0.5;
    position: absolute;
    left: 50%;
    z-index: 99;
}
.sns_slide .left_but{
    margin-left: 100px;
}
.sns_slide .right_but{
    margin-left: -170px;
}

.sns_slide .swiper-pagination{
    position: absolute;
    top: 55%;
    z-index: -1;
}










.down_wrap{
    width: 1000px;
    height: 25%;
    /* margin: 100px auto; */
    position: relative;
    left: 50%;
    margin-left: -500px;
    top: 100px;
    /* background-color: #1f4074; */
    display: flex;
    justify-content: space-evenly;

}
.down_box{
    display: block;
    width: 45%;
    height: 100%;
    background-color: lightblue;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    transition-duration: 0.5s;
}
.down_box1{
    background-color: #ffe587;
}

/* .down_box:hover{
    background-color:#9bc56c;
}
.down_box:hover .down_bg{
    filter: brightness(1.3);
    filter: invert(1);
}
.down_box:hover .down_img{
    scale: 1.2;
} */


.down_img{
    width: 100px;
    position: absolute;
    top: 50%;
    left: 30px;
    box-shadow: 2px 2px 5px gray;
    transition-duration: 0.5s;
}
.Ebook{
    height: 150px;
    margin-top: -75px;
}
.App_icon{
    height: 100px;
    margin-top: -50px;
    border-radius: 20px;
}
.down_box p,.down_box h3{
    position: absolute;
    left:180px;
}
.down_box p{
    top: 70px;
    font-size: 24px;
}
.down_box h3{
    top: 110px;
    font-size: 40px;
}



/* SNS e-북 종료-------------------------------------- */

.page_t{
    display: flex;
    justify-content: space-evenly;
}
.page_t>.title{
    width: 50%;
    height: 50px;
    line-height: 50px;
    position: absolute;
    top: 100px;
    left: 0px;
    text-align: left;
}
.page_t>p{
    position: absolute;
    top: 170px;
    left: 0px;
    font-size: 20px;
    text-align: left;
}


.guide_box{
    width: 350px;
    /* background-color: lightblue; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.guide_left_box{
    height: 60%;
    margin: auto 0; 
}
.guide_right_box{
    height: 100%;
    margin-left: 80px;
}
.g_box{
    width: 100%;
    background-color: yellowgreen;
    border-radius: 50px;
    overflow: hidden;
    opacity: 0;
    transition-duration:2s;
}
.guide_left_box .g_box{
    height: 40%;
}
.guide_right_box .g_box{
    height: 25%;
}
.guide_box a{
    position: relative;
    top: 0;
    left: 0;
    background:linear-gradient(to bottom right,#09b0d1,#ffe587);
}
.guide_box h3{
    width: 100%;
    height: 100px;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    left: 0;
    text-align: center;
    font-size: 50px;
    color: #fff;
    transition-duration: 0.5s;
}
.guide_box p{
    width: 100%;
    height: 100px;
    position: absolute;
    top: 50%;
    margin-top: 30px;
    left: 0;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    font-size: 20px;
    color: #fff;
    transition-duration: 0.5s;
}
.guide_box img{
    filter: brightness(0.6);
    border-radius: 50px;
    transition-duration: 0.5s;
    scale: 0.95;
}


/* 가이드 페이지 종료-------------------------------------- */

.low_banner{
    width: 70%;
    height: 60%;
    margin: 0 auto;
    /* background-color: yellow; */
    position: relative;
    top: 110px;
}
.low_banner a{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    text-align: center;
    color: #fff;
    text-shadow: 3px 3px 15px rgb(0, 0, 0);
    display: none;
}
.low_banner img{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition-duration: 0.5s;
}
.low_banner h3{
    width: 100%;
    height: 50px;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    line-height: 50px;
    font-size:50px;
    letter-spacing:20px
}
.low_banner p{
    width: 100%;
    height: 30px;
    position: absolute;
    top: 50%;
    margin-top: 30px;
    line-height: 30px;
    font-size:35px;
}
.low_banner img:hover{
    filter: brightness(0.6);
}


footer{
    width: 100%;
    height: 30%;
    background-color: #011c46;
    position: absolute;
    bottom: 0;
}
.menu_bor{
    position: absolute;
    width: 100%;
    height: 50px;
    border-bottom: #8fa8cf 0.5px solid;
}
.footer_con_wrap{
    margin: 0 auto;
    position: relative;
    z-index: 9;
    /* background-color: #1ab8d9; */
}
.footer_menu_wrap{
    width: 100%;
    height: 50px;
    /* background-color: #8fa8cf; */
    display: flex;
    justify-content: space-around;
}
.slide_meun_but{
    width: 10%;
    height: 100%;
    /* background-color: yellowgreen; */
    font-weight: 900;
    color:#8fa8cf;
    text-align: center;
    font-size: 25px;
    display: flex;
    justify-content: space-around;
    line-height: 50px;
}
.slide_meun_but span{
    cursor: pointer;
}

.slide_meun_mask{
    width: 90%;
    height: 100%;
    /* background-color: yellowgreen; */
    overflow: hidden;
    position: relative;
}
.slide_meun_move{
    width: 126vw;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-evenly;
}
.slide_meun_move a{
    display: block;
    width: 100%;
    height: 100%;
    line-height: 50px;
    font-size: 20px;
    font-weight: 600;
    color:#8fa8cf;
    text-align: center;

}
.footer_logo{
    width: 228px;
    height: 61px;
    position: absolute;
    top: 80px;
    left: 80px;
}
.footer_con_box{
    width: 510px;
    height: 60px;
    position: absolute;
    left: 50%;
    margin-left: -230px;
    color:#8fa8cf;
    /* background-color: #1ab8d9; */
}
.footer_con_box1{
    top: 150px;
}
.footer_con_box2{
    text-align: center;
    bottom: 30px;
    display: flex;
    line-height: 60px;
    justify-content: space-evenly;
}
.footer_con_box2 a{
    color:#8fa8cf;
}
.footer_sns{
    width:180px;
    height: 60px;
    position: absolute;
    top: 90px;
    right: 100px;
    display: flex;
    justify-content: space-around;
}
.footer_sns a{
    width: 30px;
    height: 30px;
}
.footer_sns img{
    /* filter: brightness(0.5); */
    opacity: 0.5;
}
.top_but{
    width: 50px;
    height: 40px;
    position: absolute;
    top: 80px;
    right: 20px;
    /* background-color: #7f8d99; */
    border: #7f8d99 2px solid;
    border-radius: 5px;
    color: #7f8d99;
    line-height: 40px;
    text-align: center;
    font-weight: 800;
    font-size: 16px;
}

/*푸터 페이지 종료-------------------------------------- */
.fixed_menu_wrap{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    /* background: url(../img/well_bg_1.png) no-repeat;
    background-size: 100% 100%; */
    z-index: 9999999999;
    border-top:10px solid #4c80d3;
    box-sizing: border-box;
    display: none;
    
}
.fmain_menu_wrap{
    width: 80%;
    height: 80%;
    margin: 150px auto;
    /* background-color: #011c46; */
}
.fmain_menu{
    width: 23%;
    float: left;
    /* background-color: #9bc56c; */
    font-size: 40px;
    margin-bottom: 50px;
    margin-right: 7vw;
}
.fmain_menu:last-child{
    margin-right:0px;
}
.fmain_menu>li>a{
    color: #4c80d3;
}
.fmain_menu>li:hover>a{
    color:#ffc037;
}
.fsub_menu_wrap{
    font-size: 25px;
}
.f_img{
    width: 400px;
    height: 250px;
    position: absolute;
    bottom: 100px;
    right: 100px;
}
.fsub_menu_wrap li:hover>a{
    color: #4c80d3;
}

.x_box{
    width: 40px;
    height: 40px;
    /* background-color: #011c46; */
    position: absolute;
    top: 50px;
    right: 60px;
    cursor: pointer;
}
.x_box:hover div {
    background-color:#ffc037;
}

.x_box div{
    height: 5px;
    background-color:  #4c80d3;
    /* position: absolute; */ 
}
.x_box div:first-child{
    transform: rotate(45deg);
}
.x_box div:last-child{
    margin-top: -5px;
    transform: rotate(-45deg);
}




    /* 지우지마쇼 */
}